.header{
    background-color: #26335D;
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 100;
    padding: 10px;
    top: 0; left: 0; right: 0;

}

.header__container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 440px;


}

.header__container__nav ul li {
    color: #fff;
    list-style: none;
    text-decoration: none;
    display: inline;
    padding-right: 30px;
    font-size: 14px;


}

.header a{
    color: #fff;
    
}
.main__logo{
    font-size: 24px;
    
}

.nav__buttons{
    font-size:14px ;
   
}

.nav__buttons #join__button{
    background-color: #FF6551;
    padding: 15px 15px;
    border-radius: 10px;
    
}

.nav__buttons #login__button{
    padding-right: 30px;
}

.nav__ul{
    display: flex;
    flex-wrap: nowrap;
}
